/*Common Styles*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline:none;
    text-decoration: none;
    list-style-type:none;
    font-family: 'Bitter', serif;

}
/*end of common styles*/
html{
font-size: 62.5%;
}

/*section 1*/


.section-1{
    width: 100%;
    height:100vh;
    background: url(/images/dark-bg.jpeg) no-repeat;
    background-size: cover;
    position:relative;

}
 
.banner{
    width:100%;
    position:absolute;
    top:20%;
    left:50%;
    transform:translateX(-50%);
    text-align: center;

   

}
.banner-heading{
    margin-bottom: 4rem;
    height: 20rem;
    

}

.banner-heading span{
    font-family: 'Montserrat','Bitter', serif;
    font-size: 12rem;
    font-weight: 400;
    text-transform: uppercase;
    color:white;
    text-shadow: .3rem .3rem .6rem rgba(0,0,0,0.5)

}
.banner-paragragh{
    font-size:4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background-color: black;
    width:30%;
    margin:0 auto 4rem auto;
    padding:1rem 0;

}

/*end of section 1*/
